
<!doctype html>

<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
<link href="css/styles.css" rel="stylesheet" type="text/css" />


<html lang="en">



  <head>
      <title>query</title>
  
  </head>

  <body  >
  <script type="text/javascript">
  
  

  function ver (){

  if (<%- id %> == 1) {document.getElementById("t01").style.visibility = "visible ";}
  else if (<%- id %> == 2) {document.getElementById("t02").style.visibility = "visible ";}
  else if (<%- id %> == 3) {document.getElementById("t03").style.visibility = "visible ";} 
  else if (<%- id %> == 4) {document.getElementById("t04").style.visibility = "visible ";}
  }

  </script>


  <div align="center">
    <button style="margin:20px;" class="btn btn-lg btn-query" onclick="ver()"><span class="glyphicon glyphicon-play"></span> Query # <%= id %></button> 


    <% if (id==1)  { %><p>Peliculas de 3 actores específicos, de 2 categorías específicas, con cantidad de ciudades en las que se mostraran, su descripción y si son en ingles (true /false)</p>
        

            <table style="width: 75%;visibility: hidden;" id="t01" class="table" style="width: 70%; margin-top: 60px;" align="center" >
      <thead>
        <tr>
          <th scope="col">Pelicula</th>
          <th scope="col">Nombre Actor</th>
          <th scope="col">Categoría</th>
          <th scope="col">Inglés</th>
          <th scope="col">Descripción</th>
          <th scope="col">Ciudades</th>
        </tr>
      </thead>
      <tbody>
      <% tabla.forEach(function(tbl)  { %>
        <tr>
          <th scope="row"><%= tbl.Pelicula %></th>
          <td scope="row"><%= tbl.NombreActor %></td>
          <td scope="row"><%= tbl.Categoria %></td>
          <td scope="row"><%= tbl.Ingles %></td>
          <td scope="row"><%= tbl.Descripcion %></td>
          <td scope="row"><%= tbl.Ciudades %></td>
        </tr>
      <% }); %>
    </tbody>
    </table>





    <% } else if (id==2)  { %><p>Quien de los empleados rento más películas, la cantidad, y el total de ganancia generada por ese empleado</p>
        

            <table style="width: 75%;visibility: hidden;" id="t02"  style="width: 70%; margin-top: 60px;" align="center" >
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Peliculas vendidas</th>
          <th scope="col">Ganancias</th>
        </tr>
      </thead>
      <tbody>
      <% tabla.forEach(function(tbl)  { %>
        <tr>
          <th scope="row"><%= tbl.Empleado %></th>
          <td scope="row"><%= tbl.RentasTotales %></td>
          <td scope="row"><%= tbl.GananciaTotal %></td>
          
        </tr>
      <% }); %>

      </tbody> 
       </table>


    <%} else if (id==3)  { %><p>Lista de películas que nunca han sido rentadas</p>
        

            <table style="width: 75%;visibility: hidden;" id="t03" class="table" style="width: 70%; margin-top: 60px;" align="center" >
      <thead>
        <tr>
          <th scope="col">PeliculasNuncaRentadas</th>
          
        </tr>
      </thead>
      <tbody>
      <% tabla.forEach(function(tbl)  { %>
        <tr>
          <th scope="row"><%= tbl.PeliculasNuncaRentadas %></th>
          
        </tr>
      <% }); %>
      </tbody>
      </table>  





    <%} else if (id==4)  { %><p>Listado de clientes con más de 3 días de retraso en la devolución del película</p>
        

            <table style="width: 75%;visibility: hidden;" id="t04" class="table" style="width: 70%; margin-top: 60px;" align="center" >
      <thead>
        <tr>
          <th scope="col">Nombre de cliente </th>
        
        </tr>
      </thead>
      <tbody>
      <% tabla.forEach(function(tbl)  { %>
        <tr>
          <th scope="row"><%= tbl.Cliente %></th>
        </tr>
      <% }); }%>

      </tbody>
      </table>




    
   </div>

  </body>
</html>












